<section class="info">
    <h2>PcComponentes es tu tienda online de tecnología e informática</h2>
    <p>
      Somos la <strong>tienda online líder en tecnología</strong>, basada en la confianza, la experiencia de compra y el conocimiento del sector tecnológico. Desde 2005 somos <strong>expertos</strong> en informática y electrónica. Buscamos innovar, descubrir y responder día a día a todas las necesidades de la comunidad más tecnológica siendo el cliente nuestra razón de ser, superando siempre sus expectativas.<br><br>
      Actualmente contamos con más de 100.000 artículos disponibles y 31.700 m2 repartidos entre todas nuestras instalaciones, además de cuatro tiendas físicas en <strong>Madrid, Barcelona, Murcia y Alhama de Murcia</strong>.
    </p>
  
    <h3>Los expertos en tecnología más comprometidos contigo</h3>
    <ul>
      <li><strong>Envíos gratuitos</strong> a partir de 50€ siempre en 24 horas*</li>
      <li><strong>Garantía</strong> con la mejor solución para ti en 24h</li>
      <li><strong>Devoluciones gratuitas</strong></li>
      <li><strong>Atención al cliente local</strong> y sin esperas</li>
      <li>Nos tomamos muy en serio <strong>las opiniones</strong> de nuestros clientes, y puedes verlas siempre en nustros artículos.</li>
    </ul>
  
    <p>Bienvenido a PcComponentes.</p>
  </section>
  