<div class="user-container">
  <aside class="sidebar">
    <nav>
      <ul>
        <li class="section-title">Mi cuenta</li>
        <ul>
          <li>Mis datos</li>
          <li>Mis direcciones</li>
        </ul>

        <hr>
        <li class="section-title">Pedidos y devoluciones</li>
        <ul>
          <li>Pedidos, devoluciones y facturas</li>
        </ul>

        <hr>
        <li class="section-title">Pago</li>
        <ul>
          <li>Tarjetas vinculadas</li>
        </ul>

        <hr>
        <li class="section-title">¿Necesitas ayuda?</li>
        <ul>
          <li>Devoluciones y garantías</li>
          <li>Centro de soporte</li>
        </ul>

        <hr>
        <li class="logout">Cerrar sesión</li>
      </ul>
    </nav>
  </aside>

  <section class="content">
    <h2>Bienvenido a tu área personal</h2>
    <div class="text user-info">
      <form (ngSubmit)="onSubmit()" #editForm="ngForm" class="edit-form">
        <div class="field">
          <label for="name">Nombre:</label>
          <input type="text" id="name" class="userData" [(ngModel)]="userName" name="name" [disabled]="editar">
        </div>
        <div class="field">
          <label for="lastname">Apellidos:</label>
          <input type="text" id="lastname" class="userData" [(ngModel)]="userLastName" name="lastname"
            [disabled]="editar">
        </div>
        <div class="field">
          <label for="email">Email:</label>
          <input type="text" id="email" class="userData" [(ngModel)]="userEmail" name="email" [disabled]="editar">
        </div>

        <button type="button" class="btEdit" (click)="update()">{{editar ? 'Editar' : 'Guardar'}}</button>
      </form>
    </div>

    <hr>
    <h3>Reestablecer contraseña:</h3>

    <div class="textPsswd">
      <form (ngSubmit)="onSubmit()" #editForm="ngForm" class="edit-form">
        <label for="psswd1">Contraseña actual</label>
        <div class="psswd-container">
          <input [type]="showPassword1 ? 'text' : 'password'" class="psswd" name="psswd1"
            placeholder="Contraseña actual" ngModel required>
          <button type="button" class="eye-button" (click)="togglePasswordVisibility(1)">
            <i class="fas" [ngClass]="showPassword1 ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>

        <br>
        <label for="psswd2">Nueva contraseña:</label>
        <div class="psswd-container">
          <input [type]="showPassword2 ? 'text' : 'password'" class="psswd" name="psswd3"
            placeholder="Repetir contraseña" ngModel required>
          <button type="button" class="eye-button" (click)="togglePasswordVisibility(2)">
            <i class="fas" [ngClass]="showPassword2 ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>

        <br>
        <label for="psswd3">Repita la nueva contraseña</label>
        <div class="psswd-container">
          <input [type]="showPassword3 ? 'text' : 'password'" class="psswd" name="psswd3"
            placeholder="Repetir contraseña" ngModel required>
          <button type="button" class="eye-button" (click)="togglePasswordVisibility(3)">
            <i class="fas" [ngClass]="showPassword3 ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
        <!--arreglar boton de doble ojo-->
        <button type="button" class="btEdit" (click)="editPsswd()">Cambiar contraseña</button>
      </form>
    </div>
  </section>
</div>