/*Ajuste debajo del header*/
.user-container {
    display: flex;
    margin-top: 70px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    min-height: calc(100vh - 70px);
}

/*Menu lateral*/
.sidebar {
    width: 260px;
    background-color: #ffffff;
    padding: 1rem;
    border-right: 1px solid #ddd;
    height: calc(100vh - 70px);
    position: sticky;
    top: 70px;
    overflow-y: auto;
    margin-left: 10rem;
    border-radius: 8px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul ul {
    margin-bottom: 1.5rem;
    padding-left: 1rem;
}

.section-title {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.sidebar li {
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;
}

.sidebar li:hover {
    background-color: #f0f0f0;
}

.logout {
    margin-top: 2rem;
    font-weight: bold;
    color: red;
}

.content {
    padding: 2rem;
    flex-grow: 1;
}

hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 1rem 0;
}

/*Seccion "Mis datos"*/
.user-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.field {
    display: flex;
    align-items: center;
}

.field label {
    width: 120px;
    font-weight: bold;
    color: #333;
}

.field input {
    width: 250px;
    height: 20px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
}

/*Botón del form*/
.btEdit {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #8a56ac;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btEdit:hover {
    background-color: #70448C;
}

/*Seccion reestablecer psswd*/
.psswd-container{
    position: relative;
    width: 300px;
    margin-bottom: 20px;
}

.psswd{
    width: 100%;
    padding-right: 40px;
    height: 35px;
    box-sizing: border-box;
}

.eye-button{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #555;
    cursor: pointer;
    font-size: 18px;
}