<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <title></title>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<div class="product-container">
  <div class="breadcrumb">
    <a href="#" style="color: var(--color-primario);">Home</a> &gt;
    <span>{{product?.categoria}}</span>
  </div>

  <div class="product-main">
    <div class="product-images">
      <div class="main-image">
        <img [src]="'/img/' + product?.imagen" alt="Imagen">
      </div>
    </div>

    <div class="product-details">
      <h1 class="product-title">{{ product?.nombre }}</h1>
      <div class="product-rating">
        <span class="rating">4.6/5</span>
      </div>

      <div class="product-id">
        <span>Código: #{{ product?.id }}</span><br>
        <span>Marca: {{ product?.marca }}</span>
      </div>

      <div class="seller-info">
        <span style="color: #4169e1;">Vendido y enviado por Eviden Componentes</span>
      </div>
    </div>

    <div class="product-purchase">
      <div class="price-container">
        <div class="current-price">{{ product?.precio}}€</div>
      </div>

      <div class="shipping-info">
        <div>
          Envío:
          {{ product?.precio! < 70 ? '3.99€' : 'Gratis' }} </div>
            <div class="delivery-time">Recíbelo mañana</div>
        </div>

        <div class="store-availability">
          <span>Disponibilidad en tienda</span>
        </div>

        <ng-container *ngIf="product?.id as productId">
          <button class="add-to-cart-btn" [disabled]="adds.has(productId)" (click)="addCarrito(product!)">
            {{ getTextoBoton(product!) }}
          </button>
        </ng-container>
      </div>
    </div>

    <div class="product-description">
      <h2 class="section-title">Sobre el producto</h2>
      <p>{{ product?.nombre}}</p>
      <h2 class="section-title">Descripción</h2>
      <ul class="features-list">
        <li>
          {{ product?.descripcion}}
        </li>
      </ul>
    </div>

    <hr>

    <div class="similar-products">
      <h2 class="section-title">Artículos de la misma categoría</h2>
      <div class="similar-products-container">
        <div class="similar-product" *ngFor="let similar of productosSimilares">
          <img [src]="'/img/' + similar.imagen" [alt]="similar.nombre">

          <div class="similar-product-info">
            <p>{{ similar.nombre }}</p>
            <!-- Aquí puedes poner rating si tienes datos -->
            <p class="similar-product-price">{{ similar.precio }}€</p>
          </div>
        </div>
      </div>

      <div class="view-more-container" *ngIf="productosSimilares.length > 0">
    <a [routerLink]="'/'">Ver más productos</a>
  </div>

    </div>
    <div class="reviews-section">
      <h2 class="section-title">Opiniones</h2>

      <div class="reviews-summary">
        <div class="overall-rating">
          <div class="rating-number">4.6</div>
          <div class="rating-stars">
            <span class="star filled">★</span>
            <span class="star filled">★</span>
            <span class="star filled">★</span>
            <span class="star filled">★</span>
            <span class="star half-filled">★</span>
          </div>

          <div class="total-reviews">631 Opiniones</div>

        </div>

        <div class="recommendation-rate">
          <div class="percentage">99%</div>
          <div class="recommend-text">Recomiendan</div>
          <div class="total-recommendations">366 Recomendaciones</div>
        </div>

        <div class="rating-distribution">
          <div class="rating-bar">
            <span class="rating-level">5 ★</span>
            <div class="progress-container">
              <div class="progress-bar" style="width: 80%;"></div>
            </div>

            <span class="rating-count">487</span>

          </div>

          <div class="rating-bar">
            <span class="rating-level">4 ★</span>
            <div class="progress-container">
              <div class="progress-bar" style="width: 20%;"></div>
            </div>

            <span class="rating-count">114</span>

          </div>

          <div class="rating-bar">
            <span class="rating-level">3 ★</span>
            <div class="progress-container">
              <div class="progress-bar" style="width: 3%;"></div>
            </div>

            <span class="rating-count">13</span>

          </div>

          <div class="rating-bar">
            <span class="rating-level">2 ★</span>
            <div class="progress-container">
              <div class="progress-bar" style="width: 1%;"></div>
            </div>
            <span class="rating-count">2</span>

          </div>

          <div class="rating-bar">
            <span class="rating-level">1 ★</span>
            <div class="progress-container">
              <div class="progress-bar" style="width: 3%;"></div>
            </div>

            <span class="rating-count">15</span>

          </div>
        </div>

        <div class="feature-ratings">
          <div class="feature-rating">
            <span class="feature-name">Procesador</span>

            <div class="feature-stars">
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star half-filled">★</span>
            </div>
          </div>

          <div class="feature-rating">
            <span class="feature-name">Batería</span>
            <div class="feature-stars">
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star empty">★</span>
            </div>
          </div>

          <div class="feature-rating">
            <span class="feature-name">Gráfica</span>
            <div class="feature-stars">
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star empty">★</span>
            </div>
          </div>

          <div class="feature-rating">
            <span class="feature-name">Disco duro</span>

            <div class="feature-stars">
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star half-filled">★</span>
            </div>
          </div>

          <div class="feature-rating">
            <span class="feature-name">RAM</span>

            <div class="feature-stars">
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star half-filled">★</span>
            </div>

          </div>

          <div class="feature-rating">
            <span class="feature-name">Resolución</span>

            <div class="feature-stars">
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star filled">★</span>
              <span class="star empty">★</span>
            </div>
          </div>
        </div>
      </div>

      <div class="leave-review">
        <h3>Deja tu opinión</h3>
        <p>Te costara un minuto, ayudarás a la gente a decidirse.</p>
        <button class="add-review-btn" (click)="openReviewDialog()">Añadir opinión</button>
      </div>
    </div>
  </div>