<section>
    <h1>Hello {{username}}, you are a {{occupation}}</h1>
    @if (doesUserExists) {
    <p>Felicidades! Existes :)</p>
    }@else {
    <p>Lo sentimos, pero tenemos dudas sobre tu existencia</p>
    }

    <h2>Sistemas operativos:</h2>
    <ul>
        @for (os of operatingSystems; track os.id) {
        <li (mouseover)="onMouseOver(os.name)">{{os.name}}</li>
        }
    </ul>
    <div class="editable-div" [contentEditable]="isEditable"></div>
    <button (click)="emitToParent()">Mensaje al padre</button>
</section>