<div class="cart-container">
  <div class="cart-header">
    <button [routerLink]="'/'" routerLinkActive="active">&larr; &nbsp; Volver atrás</button>
    <h2>TU CARRITO</h2>
  </div>
  <hr>

  <div *ngIf="cartItems.length === 0" class="empty-cart">
    <p>Tu carrito está vacío. </p>
    <a routerLink="/" class="btn btn-primary">Explorar artículos</a>
  </div>

  <div *ngIf="cartItems.length > 0" class="cart-content">
    <table class="cart-table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td class="product-info">
            <img [src]="'/img/' + item.imagen" alt="{{ item.nombre }}" class="product-img">
            <p>{{ item.nombre }}</p>
          </td>
          <td>
            <input type="number" [(ngModel)]="item.cantidad" (change)="updateQuantity(item)" min="1">
          </td>
          <td>{{ item.precio }} €</td>
          <td>{{ item.precio! * item.cantidad! }} €</td>
        </tr>
      </tbody>
    </table>

    <div class="order-container">
      <table class="cart-summary">
        <thead>
          <tr>
            <th>Resumen Pedido</th>
          </tr>
        </thead>
        <tbody>
          <hr>
          <tr>
            <td><strong>Subtotal:</strong></td>
            <td>{{ getSubtotal() }} €</td>
          </tr>
          <tr *ngIf="resumen.envio > 0">
            <td><strong>Gastos de envío:</strong></td>
            <td>{{ resumen.envio }} €</td>
          </tr>
          <tr *ngIf="resumen.envio === 0">
            <td><strong>Envío gratuito</strong></td>
          </tr>
          <tr>
            <td><strong>Total: </strong></td>
            <td>{{getResumenTotal().total }} €</td>
          </tr>
        </tbody>
      </table>
      <div id="paypal-button-container"></div>
    </div>
  </div>
</div>