<ul class="alert alert-danger" *ngIf="errores.length > 0">
  <li *ngFor="let err of errores">
    {{err}}
  </li>
</ul>
<div class="card bg-dark text-white">
  <div class="card-header">
    <button role="button" [routerLink]="'/productos'" routerLinkActive="active"
      style="border-radius: 100%; color: white; background-color: transparent; border: none; font-size: 24px;">&larr;</button>
    {{ titulo }}
  </div>
  <div class="card-body">

    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="producto.nombre"
            #nombre="ngModel" required minlength="4">
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors && nombre.errors['required']">
              Nombre es requerido
            </div>
            <div *ngIf="nombre.errors && nombre.errors['minlength']">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="form-group row">
        <label for="cantidad" class="col-form-label col-sm-2">Cantidad</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="cantidad" [(ngModel)]="producto.cantidad">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="precio" class="col-form-label col-sm-2">Precio</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="precio" [(ngModel)]="producto.precio">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="categoria" class="col-form-label col-sm-2">Categoría</label>
        <div class="col-sm-6">
          <select class="form-control" name="categoria" [(ngModel)]="producto.categoria" required>
            <option value="" disabled selected>Seleccione una categoría</option>
            <option *ngFor="let categoria of categoriasValidas" [value]="categoria">
              {{ categoria | titlecase }}
            </option>
          </select>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="ubicacion" class="col-form-label col-sm-2">Ubicacion</label>
        <div class="col-sm-6">
          <select class="form-control" name="ubicacion" [(ngModel)]="producto.ubicacion" required>
            <option value="" disabled selected>Seleccione un apartado</option>
            <option *ngFor="let ubicacion of ubiValidas" [value]="ubicacion">
              {{ ubicacion | titlecase }}
            </option>
          </select>
        </div>
      </div>
      <br>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-info" role="button" (click)='create()' *ngIf="!producto.id else elseBlock"
            [disabled]="!producto.nombre || !producto.cantidad || !producto.precio || !producto.categoria || !producto.ubicacion">
            Crear
          </button>


          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'
              [disabled]="!clienteForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>