<div class="container-fluid">
  <div class="card bg-dark text-white">
    <div class="card-header text-center">Productos</div>
    <div class="card-body">
      <h5 class="card-title">Listado de productos</h5>

      <div class="my-2">
        <div class="d-flex justify-content-between">
          <button class="btn btn-rounded btn-info" [routerLink]="['/productos/form']" type="button">
            Añadir producto nuevo
          </button>

          <div class="d-flex align-items-center">
            <span>Buscar:</span>
            <input type="text" name="buscar" class="form-control ms-2" [(ngModel)]="nombreBusqueda"
              (input)="buscarProducto()" />
          </div>
        </div>
      </div>


      <div *ngIf="productos.length == 0" class="alert alert-info">
        No hay registros en la base de datos
      </div>

      <div class="table-responsive">
        <table class="table table-info table-hover text-center" *ngIf="productos.length>0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Categoría</th>
              <th>Ubicación</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <td>{{producto.id}}</td>
              <td>{{producto.nombre}}</td>
              <td>{{producto.cantidad}}</td>
              <td>{{producto.precio}}</td>
              <td>{{producto.categoria}}</td>
              <td>{{producto.ubicacion}}</td>

              <td>
                <button type="button" name="editar" [routerLink]="['/productos/form', producto.id]"
                  class="btn btn-info btn-sm">Editar</button>
              </td>
              <td>
                <button type="button" name="eliminar" (click)="delete(producto)"
                  class="btn btn-danger btn-sm">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>