header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    color: white;
    font-family: Arial, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: var(--color-fondo2);
}
  
/* Logo */
.logo {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.logo img {
    height: 50px;
}

/* Estilo para la X */
.close-btn {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

.close-btn:hover {
    color: #000000;
}

/* Barra de búsqueda */
.search-bar {
    display: inline-block;
    position: relative;
    margin-left: 350px;
}

.search-bar input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    padding-right: 200px;
}

.search-bar button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.2s ease;
}

.search-bar button:hover {
    transform: translateY(-50%) scale(1.2)
}

/* Mi cuenta */
.account {
    display: inline-flex;
    align-items: center;
    margin-left: 300px;
    color: var(--color-texto);
    padding: 10px;
}

.account span {
    margin-left: 10px;
    font-size: 18px;
}

.account:hover {
    background-color: var(--color-terciario);
    cursor: pointer;
    border-radius: 5px;
}

/* Mi cesta */
.cart {
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
    color: var(--color-texto);
    padding: 10px;
}

.cart span {
    margin-left: 10px;
    font-size: 18px;
}

.cart:hover {
    background-color: var(--color-terciario);
    cursor: pointer;
    border-radius: 5px;
}

/* Menú lateral de la cesta */
.cart-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primario);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 9999;
}

/* Mostrar el menú deslizándolo hacia la derecha */
.cart-menu.open {
    right: 0;
}

.cart-Ncontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.cart-menu-header, .cart-menu-footer {
    height: 60px;
    flex-shrink: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.close-btnC {
    background: none;
    border: none;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}

.close-btnC:hover {
    color: #000000;
}

.cart-image {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.cart-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.cart-Ncontent {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 30px;
}

.go-home-btn {
    background-color: var(--color-primario);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.go-home-btn:hover {
    background-color: var(--color-secundario);
}

.cart-content {
    flex: 1;
    overflow-y: auto;
    padding: 10px 20px;
}

.cart-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart-list li{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    background-color: #ededed;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

}

.cart-list li button{
    width: auto;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: large;
}

.cart-list li button:hover{
    color: red;
}

.cart-list img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 10px;
    border: 1px solid #030709;
}

.cart-list p{
    color: #030709;
}

.bt-menu{
    padding: 12px;
    font-size: 16px;
    background-color: var(--color-terciario);
    border-radius: 10px;
    color: #fff;
}
.bt-menu:hover{
    background-color: var(--color-secundario);
    cursor: pointer;
}

.cart-menu-footer {
    border-top: 1px solid rgb(255,255,255,0.2);
}

.go-cart-btn {
    width: 100%;
    padding: 12px;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 16px;
    color: #fff;
    background-color: var(--color-terciario);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.go-cart-btn:hover{
    background-color: var(--color-secundario);
}

/*Boton modo claro/oscuro*/
.dark-mode-toggle {
    position: absolute;
    top: 33px;
    right: 33px;
}

.dark-mode-toggle button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--color-texto);
    transition: color 0.3s ease, transform 0.3s ease;
}

.dark-mode-toggle button:hover {
    color: var(--color-primario);
    transform: scale(1.1);
}

.dark-mode-toggle button i {
    color: var(--color-texto);
    display: inline-block;
    opacity: 1;
    transition: color 0.3s;
}

/* Capa oscura que cubre la página */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.open {
    opacity: 1;
    pointer-events: all;
}
