<h2 mat-dialog-title>Deja tu opinión</h2>

<div mat-dialog-content>
  <div class="stars">
    <span *ngFor="let star of [1, 2, 3, 4, 5]"
          (click)="setRating(star)"
          (mouseover)="hoverRating(star)"
          (mouseleave)="resetHover()"
          [class.filled]="star <= selectedRating"
          [class.hovered]="star <= hoveredRating">
      ★
    </span>
  </div>

  <form>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Pros</mat-label>
      <textarea matInput rows="2" [(ngModel)]="pros" name="pros"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Contras</mat-label>
      <textarea matInput rows="2"  [(ngModel)]="cons" name="cons"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Opinión general</mat-label>
      <textarea matInput rows="3"  [(ngModel)]="opinion" name="opinion"></textarea>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button color="primary"  (click)="onEnviar()">Enviar</button>
</div>
